{{>header}}

<br><br><br><br><br>

<el-button id="bouton1" type="danger">Deconnexion</el-button>
<a href="/Profil"><el-button id="bouton1" type="danger" plain>Profil</el-button></a>

<br>

<div id="gauche">
<h1>Les paris en cours</h1>

<el-table
	:data="pari"
	style="width: 100%">
	<el-table-column
		prop="Nom"
		label="nom"
		width="200">
	</el-table-column>

	<el-table-column
		prop="dateFin"
		label="Date de fin"
		width="200">
	</el-table-column>

	<el-table-column
		prop="cote"
		label="Côte"
		width="200">
	</el-table-column>
	
	<el-table-column
		prop="somme"
		label="Somme misée"
		width="200">
	</el-table-column>
</el-table>

<br>
<h1>Les événements en cours </h1>

<el-table
	:data="event"
	style="width: 100%">
	<el-table-column
		fixed
		prop="nom"
		label="Nom"
		width="200">
	</el-table-column>

	<el-table-column
		prop="Du"
		label="Du"
		width="200">
	</el-table-column>

	<el-table-column
		prop="Jusquau"
		label="Jusqu'au"
		width="200">
	</el-table-column>

	<el-table-column
		prop="cote"
		label="Côte"
		width="200">
	</el-table-column>

	<el-table-column
		fixed="right"
		label="Parier"
		width="200">
		<template slot-scope="scope">
			<el-button type="text" size="small">Je paris !</el-button>
		</template>
	</el-table-column>
</el-table>
</div>

<div id="droite">
	<img id="pub" src="../img/pub3.png" alt="" />
</div>


{{>footer}}