{{>header}}
<br><br><br><br><br>

<h1>Mon profil</h1>

<div id="coteGauche"> 
	<p>Mes coordonnées</p>
	
	<label>Nom :</label><br>

	<label>Prénom :</label><br>
	
	<label>Age:</label><br>

	<label>Pseudo :</label><br>

	<label>Mot de passe :</label>
</div>
<div id="mileu"> 
<p>Mes paris<p>
</div>
<div id="coteDroit"> 
<p>Mes événements<p>
</div>

{{>footer}}