body {
    font-family: DejaVu Sans Light;
    background-color :#d9d9d9;
    padding:0;
    margin:0;
}
 

#logo {
	
	display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
	height:100px;
}

#fixehaut {
   padding:0;
   margin-top:0;
   margin-left:0;
   margin-right:0;
   margin-bottom: 10px;
   width:100%;
   background-color:black;
   
}

#fixebas {
   position: fixed;
   bottom: 0;
   height:25px;
   width:99%;
   background-color:black;
   color: #ff3333;
   text-align: right;
   
}

a.el-button {
    text-decoration: none;
}

a:link { 
text-decoration:none; 
} 

h1{
	color: #ff3333;
	text-align: center;
}

#bouton1 {
	display: block;
  	float: right;
}

#bouton2 {
	display: block;
  	float: right;
  	margin-right: 2px;
}

/* CSS PAGE Tableu de bord*/

#gauche {
	height: 100%;
	width: 80%;
	float: left;
}

#droite {
	width: 20%;
	height: 100%;
	float: left;
}

#pub{
	padding: 50px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS PAGE Profil*/

#coteDroit{
	height: 100%;
	width: 33%;
	float: left;
}

#mileu{
	height: 100%;
	width: 33%;
	float: left;
}

#coteGauche{
	height: 100%;
	width: 33%;
	float: left;
}

p{
	text-align: center;
}

label{
	text-align: left;
}

























