{{>header}}
{{>banniere}}

<fieldset>
<el-form   action="/connexionJoueur" method="post" label-width="120px" class="demo-ruleForm">
  <el-form-item label="Identifiant">
    <el-input name="identifiant" type="text" autocomplete="off"></el-input>
  </el-form-item>
  <el-form-item label="Password">
    <el-input name="password" type="password" autocomplete="off"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button class="el-button-danger" type="submit">Connexion</el-button>
  </el-form-item>
</el-form>
</fieldset>
{{>footer}}