{{>header}}
{{>banniere}}



<a href="/Connexion"><el-button id="bouton1" type="danger">Connexion</el-button></a>
<a href="/Inscription"><el-button id="bouton2" type="danger">Inscritpion</el-button></a>

<h1> Les événements en cours</h1>
<template>
		<el-table
			:data="events"
			style="width: 100%">
			<el-table-column
				prop="entite"
				label="Evenement">
			</el-table-column>

			<el-table-column
				prop="action"
				label="Action">
			</el-table-column>

			<el-table-column
				prop="date"
        		label="Date">
      		</el-table-column>
      		
      		<el-table-column
				prop="cote"
        		label="Cote">
      		</el-table-column>
		</el-table>
</template>


{{>footer}}