{{>header}}
{{>banniere}}

<fieldset>
<el-form :model="joueur" ref="formJoueur" method="post" action="submitForm" label-width="120px" class="demo-ruleForm">
<el-form-item label="Nom">
    <el-input v-model="joueur.nom"></el-input>
    </el-form-item>
    <el-form-item label="Prenom">
    <el-input v-model="joueur.prenom"></el-input>
    </el-form-item>
    <el-form-item label="Age">
    <el-input v-model="joueur.age" type="number" min="18"></el-input>
</el-form-item>
  <el-form-item label="Identifiant">
    <el-input type="text" v-model="joueur.identifiant" autocomplete="off"></el-input>
  </el-form-item>
  <el-form-item label="Password">
    <el-input type="password" v-model="joueur.password" autocomplete="off"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="danger" @click="submitForm">Submit</el-button>
    <!--<el-button @click="resetForm('ruleForm2')">Reset</el-button>-->
  </el-form-item>
</el-form>
</fieldset>
{{>footer}}